/* CSS Document */


@media (max-width:767px) {
.container {
	width: 85%
}
}
@media (min-width:768px) {
.container {
	width: 750px
}
}
@media (min-width:991px) {
.container {
	width: 950px;	
}			
}
@media (min-width:1200px) {
.container {
	width: 1180px;
}
}
@media (min-width:1350px) {
.container {
	width: 1280px;
}		
}
@media (min-width:1281px) {
.container {
	width: 1120px;	
}		
}	
@media (min-width:1366px) {
.container {
	width: 1170px;
}
}
@media (min-width:1500px) {
.container {
	width: 1450px;
}
}
@media (min-width:1780px) {
.container {
	width: 1720px;
}
}
@media (min-width:1824px) {
.container {
	width: 1800px;
}
}
@media (min-width:2200px) {
.container {
	width: 2150px;
}
}
@media (max-width:2560px) {
	.nav_section{
		float: right;
	}
	.main_nav_area{
		text-align: right;
	}
}

@media (max-width:1366px) {
	.main_nav_area{
		text-align: left !important;
	}
}

@media (max-width:1280px) {	
}

@media (max-width:1200px){
}

@media (max-width:1095px){
}

@media (max-width:1061px) {	

}
@media (max-width:991px) {	
				 													  
}
	
@media (max-width:880px){

}
@media (max-width:815px){			
}

@media (max-width:768px) {
	.logoArea{
		width: 50%;
	}
	.navArea{
		width: 50%;
	}
	.mainNav ul.navs{
		display: none;
	}
	.responsiveMenu{
		display: block;
	}	
	.navArea{
		padding-left: 0;
	}	
.navArea .topHeader:before{
	display: none;
}
.ulset_wrapper{
	width: 90%;
}
.bottomHeader{
	padding-left: 5%;
}
.seperator{
	margin: 0;
}.navArea .topHeader .ulSet li.phone a {    
    font-size: 14px;
}
.logoInner a{
	width: 80%;
}
#main_header{
	height: 130px;
}
ul.navs{
	position: absolute;
	left: 0;
	right: 0;
	background: rgba(255,255,255, 1);
}
ul.navs li{
	display: block !important;
    vertical-align: top;   
    transform: none !important;
}
ul.navs li a{
	 transform: none !important;
}
ul.navs li.seperator{
	display: none !important;
}


}
@media (max-width:730px){

}

@media (max-width:650px) {
}

@media (max-width:625px) {
}
@media (max-width:585px) {			
}
@media (max-width:549px){
		
}
@media (max-width:480px) {												
}
@media (max-width:423px){
}
	
@media (max-width:390px) {
}
@media (max-width:365px){	
}

@media (max-width:345px){

}
@media (max-width:330px){

}




